/* Analytics.css */

.charts-container {
    display: flex;
    gap: 30px;
  }
  
  .chart {
    flex: 1;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chart h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  