/* Calendar Styling */
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.react-calendar__tile:enabled:hover {
  background-color: #f0f8ff;
}

.react-calendar__tile--now {
  background-color: #2c93e8;
  color: white;
  font-weight: bold;
}

.react-calendar__month-view__days__day {
  padding: 10px;
}

.react-calendar__tile--active {
  background-color: #2c93e8;
  color: white;
}

.react-calendar__navigation button {
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.react-calendar__navigation button:hover {
  background-color: #e1e1e1;
}
