/* Wrapper for the entire ExpenseForm component */
.expense-form-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Expense form container styling */
.expense-form-container {
  flex: 1;
  max-width: 45%;
  max-height: 600px;
  padding: 20px;
  margin-top: 50px;
  margin-right: 15px;
  margin-left: auto;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
}

/* Expense History container styling */
.history-container {
  flex: 1;
  margin-left: 15px;
  margin-right: auto;
  max-width: 45%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 600px; /* Set a max height for the history section */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Success message styling */
.success-message {
  color: #512da8;
  font-size: 1.2em;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #512da8;
  background-color: #f3e5f5;
  border-radius: 5px;
  text-align: center;
}

/* Form styling */
.expense-form {
  display: flex;
  flex-direction: column;
}

/* Input group styling */
.form-group {
  margin-bottom: 15px;
}

/* Input labels styling */
.form-group label {
  font-weight: bold;
}

/* Input fields styling */
.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit button styling */
.submit-btn {
  padding: 10px;
  background-color: #512da8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4527a0;
}

/* Expense History section styling */
.history-header {
  cursor: pointer;
  color: #512da8;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/* Expense items styling */
.expense-history {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.expense-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 5px;
}

.expense-item p {
  margin: 5px 0;
}

.expense-item strong {
  color: #512da8;
}

.back-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;  /* Adjust the margin to make sure the button is below the form and history */
}

.back-btn {
  background-color: #512da8;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: #4527a0;
}
